.objectives {
    width : 50vw;
    height:50vh;
    display:flex;
    align-items: center;

    _background: no-repeat 100% 120%/70% url("../images/adrien/atom-mini.png"), no-repeat 100% 50%/100% url("../images/adrien/graph-mini.png");
}



/**/
.ID {
    position:fixed;
    top : calc(var(--navbarHeight)*0.02);
    left : 0;
}

.ID {
    flex:1;

    display:flex;
    flex-direction: column;
    justify-content: center;

    padding:0px;/*was 10 before */
}

.ID h1 {
    font-size: 20px;
    margin-top:0;
    margin-bottom:0;
}


/**/