@import "cssSkills.css";
@import "cssContact.css";
@import "cssNavbar.css";
@import "cssWhoami.css";
@import "cssExperience.css";
@import "various.css";
@import "education.css";

@font-face {
    font-family: "_GT Haptik Bold";
    src: url("../font/GTHaptikBold/GT-Haptik-Bold.ttf");
}

@font-face {
    font-family: "ubuntu";
    src: url("../font/ubuntu/Ubuntu-Medium.ttf")
}

@font-face {
    font-family: "stickyNote";
    src: url("../font/sticky/Stickynotes-ywLPd.otf")
}

@font-face {
    font-family: "GT Haptik Bold";
    src: url("../font/odachi/Odachi.otf")
}
:root {
    --backgroundColorLight: #f4f4f4;/*initial:#fafafa*/
    --backgroundColorDark: #333333;
    --FontColor1: #333333;
    --FontColor2: #1b75bc;/*couleur initiale #1b75bc*/ /*other attemp:#9B8578*/
    --normalFontColorDark: #666666;
    --normalFontColorLight: var(--backgroundColorLight);
    --detailColor1:#1b75bc;
    --detailColor2: #db9a0c;

    --navbarHeight:100px;
    --navbarVerticalOffset: calc(var(--navbarHeight)/4);
    --h1Height:calc(1.8 * var(--h1Size));

    --referenceFontSize:2vw;
    --h1Size:var(--referenceFontSize);
    --h2Size:calc(1.5 * var(--referenceFontSize));
    --h3Size:calc(0.75 * var(--h2Size));
    --fontSize:calc(0.50 * var(--h3Size));
    --aSize:var(--h3Size);

    --fontH1:"GT Haptik Bold";
    --fontH2:"GT Haptik Bold";
    --fontH3:"ubuntu";
    --fontSpecial:"stickyNote";
    --fontP:"ubuntu";
    --fontA:"ubuntu";


    /*--debugBorder: solid thin;*/
    --debugBorder: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    display:flex;
    justify-content: center;
}
body {
    background-color: var(--backgroundColorLight);
    color: var(--normalFontColorDark);
    font-size: var(--fontSize);
    font-family: var(--fontP);
    scroll-behavior: smooth;
    margin-top:25px;

    width:1500px;

}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    overflow:hidden;
    width:98vw;
}

h1 {
    position:sticky;
    top:calc((var(--navbarHeight) - var(--h1Height)) / 2 + var(--navbarVerticalOffset) - var(--navbarHeight) + 0.15vw);/*var(--navbarHeight)*/

    transform:translateX(-200px) translateY(calc(var(--navbarHeight)));/* + var(--navbarVerticalOffset)));*/
    font-size:var(--h1Size);
    color: var(--FontColor1);
    font-family : var(--fontH1);
    padding:10px;
    z-index:20;
    height:var(--h1Height);
    align-self: start;
}

h2 {
    font-size: var(--h2Size);
    color: var(--FontColor2);
    font-family : var(--fontH2);
    margin:10px;
}

h3 {
    font-size: var(--h3Size);
    color: var(--normalFontColorDark);
    font-family : var(--fontH3);
    margin:10px;
}

a {
    font-size: var(--aSize);
    color:var(--normalFontColorLight);
    font-family: var(--fontA);
    margin:10px;
    text-decoration: none;
}



section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: calc(100vh - var(--navbarHeight));
    wwidth:98vw;
    width:100%;/**/

    padding-top:calc(var(--navbarHeight) + var(--navbarVerticalOffset));
    position:relative;
}

section:nth-of-type(odd){
    color: var(--normalFontColorDark);
    background-color: var(--backgroundColorLight);
}

_section:nth-of-type(even):before{
    content:" ";
    background: url("../images/adrien/dechirebas.png");
    width:200%;
    height:130px;
    position:absolute;
    top:0;
}

_section:nth-of-type(even):after{
    content:" ";

    _background-color:var(--backgroundColorDark);
    _background-repeat:no-repeat;
    background: url("../images/adrien/dechirehaut.png");
    width:200%;
    height:130px;
    position:absolute;
    bottom:0px;
}

section:nth-of-type(even){
    color: var(--normalFontColorLight);
    background-color: var(--backgroundColorDark)
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height:100%;
    width:100%;
}











