@import "cssSkills.css";
@import "cssContact.css";
@import "cssNavbar.css";
@import "cssWhoami.css";
@import "cssExperience.css";
@import "various.css";
@import "education.css";

@import url(//db.onlinewebfonts.com/c/07342dff729e3ff82873f8eeee4c9612?family=GT+Haptik+Bold);

:root {
    --backgroundColorLight: #f6f6f6;
    --backgroundColorDark: #404040;
    --titleFontColor: #db9a0c;
    --normalFontColorDark: var(--backgroundColorDark);
    --normalFontColorLight: var(--backgroundColorLight);

    --navbarHeight:50px;

    --referenceFontSize:2vw;
    --h2Size:3vw;
    --h3Size:calc(0.75*var(--h2Size));
    --aSize:var(--h3Size);
    --fontSize:calc(0.75*var(--h3Size));

    --fontH1:"GT Haptik Bold";
    --fontH2:"GT Haptik Bold";
    --fontH3:"GT Haptik Bold";
    --fontSpecial:"GT Haptik Bold";
    --fontP:arial;
    --fontA:arial;

    /*--debugBorder: solid thin;*/
    --debugBorder: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColorLight);
    color: var(--normalFontColorDark);
    font-size: var(--fontSize);
    font-family: var(--fontP);
    scroll-behavior: smooth;
}



h1 {
    position:sticky;
    top:calc(-1 * var(--navbarHeight));/*var(--navbarHeight)*/
    transform:translateY(var(--navbarHeight));

    font-size:var(--referenceFontSize);
    color: var(--normalFontColorDark);
    font-family : var(--fontH1);
    margin:10px;
}

h2 {
    font-size: var(--h2Size);
    color: var(--normalFontColorDark);
    font-family : var(--fontH2);
    margin:10px;
}

h3 {
    font-size: var(--h3Size);
    color: var(--normalFontColorDark);
    font-family : var(--fontH3);
    margin:10px;
}

a {
    font-size: var(--aSize);
    color:var(--normalFontColorLight);
    font-family: var(--fontA);
    margin:10px;
    text-decoration: none;
}



section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: calc(100vh - var(--navbarHeight));
    width:99vw;

    padding-top:var(--navbarHeight);
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height:100%;
    width:100%;
}

body{
    margin-top:25px;
}









