#contact .content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-contact{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: stretch;

    width:100%;

    border:  var(--debugBorder) green;
}

.contactBloc{
    display:flex;
    flex-direction:column;
    justify-content: space-between;

    min-width:calc(100%/3.5);
    margin: 20px;
}

#contact-info {
    order:3;
}

#userData{
    order:1;
}

#message{
    order:2;
}

#button{
    order:4;
    width:100px;
}

#contact-info a, #contact-info p{
    margin:0;
    padding:0;
    text-align:center;
}


.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
 }



.form-group input, .form-group textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--emphasisFontColor);
    font-size: var(--fontSize);
    font-family: var(--fontP);
}




#contact-info img {
    width: 50px;
    margin: 15px;
}

.form-btn {
    margin-top: 40px;
}

.form-btn .btn {
    border: 1px solid var(--emphasisFontColor);
    padding: .85rem 1.25rem;
    transition: all .3s ease;
    border-radius: 3px;
    color: inherit;
    background: transparent;
    cursor: pointer;
    font-size: var(--h2Size) ;
    font-family: var(--fontH3);
}

.form-btn .btn:hover {
    border-color:var(--emphasisFontColor);
    background-color: var(--emphasisFontColor);
    color: var(--fontColorDark);
}


@media only screen and (max-width: 700px) {
    #button{
        order:3;
        width:100%;
    }

    #contact-info {
        order:4;
    }

    .contactBloc{
        width:100%;
        margin:10px;
    }

}