
#achievments .content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.calendar{
    border: var(--debugBorder) blue;
    width:80%;
    padding:10px;
    border: thin solid black;
    background-color:var(--fontColorDark);
    background-image: url("../images/barney/duff.png");
    background-repeat:no-repeat;
    background-position: 5% 30%;
    background-size: 10vw;
    margin:4vw;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.calendarElement{

    display:flex;
    justify-content: center;


    border: var(--debugBorder) red;
    width:100%;
    overflow:hidden;
}

.job{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width:40vw !important;
    height:8vw;

    border:  var(--debugBorder) green;
    --childMargin:10px;

    margin:1vw;
    background: no-repeat center/100% url("../images/barney/papierDechire2.png");

}

.job:nth-of-type(2n), .job:nth-of-type(2n) .jobName, .job:nth-of-type(2n) .jobResults, .job:nth-of-type(2n) .jobCompany {
    transform: scaleX(-1);
}
.job:nth-of-type(3n), .job:nth-of-type(3n) . jobName, .job:nth-of-type(3n) .jobResults, .job:nth-of-type(3n) .jobCompany {
    transform: scaleY(-1);
}

.job::before, .job::after{
    height:2vw;
    width:5vw;
    content:" ";
    background-color:rgba(220,220,0,0.3);
    position:relative;
}

.job::before{
    right:50%;
    top:50%;
}

.job::after{
    left:50%;
    bottom:50%;
}

.job:nth-of-type(2n-1)::before,  .job:nth-of-type(3n-1)::after{
    transform:  rotate(5deg) translateY(0.5vw);
}

.job:nth-of-type(3n-1)::before, .job:nth-of-type(2n)::after{
    transform: rotate(-10deg) translateY(-0.5vw);
}

.jobName, .jobResults, .jobCompany{
    border:  var(--debugBorder) yellow;
    overflow: visible;
    white-space: nowrap;
    text-align:center;
    margin-left:var(--childMargin);
    margin-right:var(--childMargin);
}

.jobStart{
    display:none;
}


.jobName{
    font-weight: bold;
    text-decoration-line: underline;
}

.jobResults{
    font-size: calc(0.8 * var(--fontSize));
}

.jobCompany{

}

@media only screen and (max-width: 700px) {
    .calendar{
        width:95%;
        margin:1vw;
        background-image: none;
    }


    .job{
        width:90vw !important;
        margin:1vw;
        white-space: pre-wrap;
        height:25vw;
    }

    .jobName, .jobResults, .jobCompany{
        white-space: pre-wrap;
        font-size:calc(0.5 * var(--fontSize));
    }
}