

.smallNavbar
{
    display:flex;
    justify-content: center;
    align-items: center;

    height: var(--navbarHeight);
    background-color: var(--navbarColor);
    z-index: 99;
    position: fixed;
    width: 100%;
}

.menuBurger {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.menuBurger a {
    font-size: 3vw;
    cursor: pointer;
    color: white;
    text-shadow: var(--shadowColor) 1px 0 10px;
}

.afterNavbar {
    display:none;
}

.buttonMenu {
    display: none;
}

/*Mobile Version */
@media screen and (max-width: 700px) {

    .smallNavbar {
        margin-bottom: 10%;
    }

    .menuBurger {
        display: none;
    }

    .buttonMenu {
        display: block;
        width: 80px;
        height: calc( 0.8 * var(--navbarHeight));
        background: no-repeat url("/images/barney/menu.png");
        background-size: contain;
        color: transparent;
    }

    .buttonMenu img {
        width: 80px;
    }

    .menuBurger:target {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        font-size: 3em;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: var(--navbarColor);
    }

    .smallNavbar a {
        font-size: 1em;
    }

}
