

#whoami {
    min-height: 100vh;
}

#whoami .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5vw;
    position: relative;
}


.objectives {
    width: 40vw;
    margin: 5vw;
    min-height: 180px;
    z-index:50;
    position:relative;
}

.objectives::before {
    position:absolute;
    top:-13vw;
    left:-25vw;
    content:" ";
    background: no-repeat center/100% url("../images/barney/barney2.png");

    width:20vw;
    height:35vw;
}

.objectives::after {
    position:absolute;
    top:-6vw;
    left:25vw;
    content:" ";
    background: no-repeat center/100% url("../images/barney/tache.png");

    width:20vw;
    height:35vw;
}

@media only screen and (max-width: 700px) {
    .objectives{
        width:90vw;
    }

    .objectives::before {
        top:-45vw;
        left:-10vw;
    }

    .objectives::after {
        top:5vw;
        left:60vw;
    }
    section:first-of-type{
        /*does not seems to work !*/
        padding-top: calc( 1 * var(--sectionVerticalShift));
    }
}