@import "cssNavbar.css";
@import "cssContact.css";
@import "cssSkills.css";
@import "cssWhoami.css";
@import "cssExperience.css";
@import "cssVarious.css";
@import "cssEducation.css";

/* the line below declare the "Homemade Apple" font family */
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

@font-face {
    font-family: "Simpson";
    src: url("../font/Homer_Simpson_Revised.ttf");
}

@font-face {
    font-family: "Barney";
    src: url("../font/TYPO_COMICS_Light_demo.otf")
}

@font-face {
    font-family: "Typemachine";
    src: url("../font/typemachine/Schreibmaschine.ttf")
}

:root {
    --backgroundColorLight: #F5F4F4;
    --backgroundColorDark: #17BBEE;
    --fontColorLight: var(--backgroundColorLight);
    --fontColorDark: #494949;
    --emphasisFontColor: #FDD420;
    --navbarColor:#f06bbd;
    --shadowColor: var(--emphasisFontColor);

    --referenceFontSize: 5vw;
    --h1Size:calc(2 * var(--referenceFontSize));
    --h2Size: calc(0.66* var(--referenceFontSize));
    --h3Size: calc(0.3* var(--referenceFontSize));
    --fontSize: calc(0.3* var(--referenceFontSize));

    --fontH1:"Simpson";
    --fontH2:"Simpson";
    --fontH3:"Simpson";
    --fontH4:"Homemade Apple";
    --fontSpecial:"Simpson";
    --fontP:typemachine;
    --fontA:"Simpson";
    --fontForm:arial;

    --navbarHeight:calc(100px + 0vw);
    --sectionVerticalShift: calc( var(--navbarHeight) + 5vw);

    /*--debugBorder: solid thin;*/
    --debugBorder: none;
}

* {
    padding: 0;
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--fontColorDark);
    font-size: var(--fontSize);
    font-family : var(--fontP);
}

section {
    padding: 25px;
    padding-top: var(--sectionVerticalShift);
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

section:first-of-type{
    padding-top: calc( 2 * var(--sectionVerticalShift));
}

h1 {
    position:absolute;
    top: var(--sectionVerticalShift);

    font-family : var(--fontH1);
    font-size: var(--h1Size);
    color: var(--fontColorDark);
    text-align: center;

    text-shadow: 4px 4px 8px var(--shadowColor);
    width:100%;
}

h2 {
    font-family : var(--fontH2);
    color: var(--fontColorDark);
    text-align: center;
    text-shadow: 4px 4px 8px var(--shadowColor);
    text-transform: uppercase;
}

h3 {
    font-family : var(--fontH3);
    font-size: var(--h3Size);
    margin-bottom: 5px;
    white-space: nowrap;
}

h4 {
    text-decoration: underline;
    font-family:var(--fontH4);
}
a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontA);
}

p {
    font-size: var(--fontSize);
    color: var(--normalFontColorDark);
    font-family: var(--fontP);
}

img {
    width: 100%;
}

section:nth-child(odd) {
    color: var(--fontColorLight);
    background: var(--backgroundColorDark);
}

section:nth-child(even) {
    color: var(--fontColorDark);
    background: var(--backgroundColorLight);
}
/*
section:nth-child(odd):before {
    height:50px;
    background: var(--backgroundColorLight);
}

section:nth-child(even):before {
    height:50px;
    background: var(--backgroundColorDark);
}*/

section:nth-child(even) h2 {
    color: var(--fontColorDark);
}



h2 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    height: calc(1.3 * var(--h2Size));
}

h2:nth-of-type(odd) {
    animation-name: oscillate1;
}

h2:nth-of-type(even) {
    animation-name: oscillate2;
}

@keyframes oscillate1 {
    0% {
        font-size: 5vw;
        transform: rotate(0.5deg);
    }
    100% {
        font-size: 5.05vw;
        transform: translateX(5px);
    }
}

@keyframes oscillate2 {
    0% {
        font-size: 5.05%;
        transform: rotate(0.5deg);
        transform: translateX(5px);
    }

    100% {
        font-size: 5%;
        transform: translateX(-2px);
    }
}

@media only screen and (max-width: 1500px) {
    :root {
        --referenceFontSize: 15vw;
        --h1Size:var(--referenceFontSize);
        --h2Size: calc(0.66* var(--referenceFontSize));
        --h3Size: calc(0.3* var(--referenceFontSize));
        --fontSize: calc(0.15* var(--referenceFontSize));
    }
}

@media only screen and (max-width: 700px) {
    :root {
        --referenceFontSize: 15vw;
        --h1Size:var(--referenceFontSize);
        --h2Size: calc(0.8* var(--referenceFontSize));
        --h3Size: calc(0.5* var(--referenceFontSize));
        --fontSize: calc(0.35* var(--referenceFontSize));
    }
}