@import "cssNavbar.css";
@import "cssContact.css";
@import "cssSkills.css";
@import "cssWhoami.css";
@import "various.css";

/* the line below declare the "Homemade Apple" font family */
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

@font-face {
    font-family: "Simpson";
    src: url("../font/Homer_Simpson_Revised.ttf");
}

@font-face {
    font-family: "Barney";
    src: url("../font/TYPO_COMICS_Light_demo.otf")
}

:root {
    --backgroundColor1: #F5F4F4;/*white;*/
    --backgroundColor2: #17BBEE;
    --fontColorLight: #F5F4F4;
    --fontColorDark: #494949;
    --emphasisFontColor: #FDD420;
    --navbarColor:#f06bbd;
    --shadowColor: var(--emphasisFontColor);

    --h1Size: 5vw;
    --h2Size: calc(0.66* var(--h1Size));
    --h3Size: calc(0.3* var(--h1Size));
    --fontSize: calc(0.25* var(--h1Size));

    --fontFamily: "Homemade Apple";
    --fontFamily: "Simpson";

    --fontH1:"Simpson";
    --fontH2:"Simpson";
    --fontH3:"Simpson";
    --fontSpecial:"Simpson";
    --fontP:arial;
    --fontA:"Simpson";

    --navbarHeight:calc(100px + 0vw);
    --sectionVerticalShift: calc( var(--navbarHeight) + 5vw);

}

* {
    padding: 0;
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--fontColorDark);
    font-size: var(--fontSize);
}

section {
    padding: 25px;
    padding-top: var(--sectionVerticalShift);
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    overflow: hidden;
}

section:first-of-type{
    /*padding-top: calc( 2 * var(--navbarHeight) + 5vw);*/
    padding-top: calc( 2 * var(--sectionVerticalShift));/**/
}

h1 {
    position:absolute;
    /*top:var(--firstTitleVerticalShift);*/
    top: var(--sectionVerticalShift);/****/

    font-family : var(--fontH1);
    font-size: var(--h1Size);
    color: var(--fontColorDark);
    background-color:var(--backgroundColor2);
    text-align: center;

    text-shadow: 4px 4px 8px var(--shadowColor);
    width:100%;
}

h2 {
    font-family : var(--fontH2);
    color: var(--fontColorDark);
    text-align: center;
    text-shadow: 4px 4px 8px var(--shadowColor);
    text-transform: uppercase;
}

h3 {
    font-family : var(--fontH3);
    font-size: var(--h3Size);
    margin-bottom: 5px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontA);
}

p {
    font-size: var(--fontSize);
    color: var(--normalFontColorDark);
    font-family: var(--fontP);
}

img {
    width: 100%;
}

section:nth-child(even) {
    color: var(--fontColorLight);
    background: var(--backgroundColor2);
}

section:nth-child(even) h2 {
    color: var(--fontColorLight);
}

section:nth-child(odd) {
    color: var(--fontColorDark);
    background: var(--backgroundColor1);
}

h2 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    height: calc(1.3 * var(--h2Size));
}

h2:nth-of-type(odd) {
    animation-name: oscillate1;
}

h2:nth-of-type(even) {
    animation-name: oscillate2;
}

@keyframes oscillate1 {
    0% {
        font-size: 5vw;
        transform: rotate(0.5deg);
    }
    100% {
        font-size: 5.05vw;
        transform: translateX(5px);
    }
}

@keyframes oscillate2 {
    0% {
        font-size: 5.05%;
        transform: rotate(0.5deg);
        transform: translateX(5px);
    }

    100% {
        font-size: 5%;
        transform: translateX(-2px);
    }
}

@media only screen and (max-width: 1500px) {
    :root {
        --h1Size: 15vw;
        --h2Size: calc(0.66* var(--h1Size));
        --h3Size: calc(0.3* var(--h1Size));
        --fontSize: calc(0.15* var(--h1Size));
    }
}

@media only screen and (max-width: 700px) {
    :root {
        --h1Size: 15vw;
        --h2Size: calc(0.8* var(--h1Size));
        --h3Size: calc(0.5* var(--h1Size));
        --fontSize: calc(0.35* var(--h1Size));
    }

    h2:first-of-type{
        _padding-top: var(--firstTitleVerticalShift);
        _margin-top:150px;
        _margin-bottom:150px;
    }
}