#skills .content{
    display:flex;
    flex-direction: column;
    align-items: start;
    _flex-wrap: wrap;


}

.skillFamily{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
 }

.skill h3{
    white-space: nowrap;
}

.skillList{
    display:flex;
}

.skill{
    margin:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}



.skillDataList{
    display:none;
}
